<div class="container-fluid bg">
    <div class="row ">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!--form start-->
            <form class="form" #formaddcorse = "ngForm">
                <h1>ADD Course</h1>
                <div class="form-group">
                    <label>Select Category</label>
                    <select class="form-control" id="selectcrs" name="category" [(ngModel)] = "addcourse_ob.category">
                      <option>C1</option>
                      <option>C2</option>>
                    </select>
                  </div>
            
                

                    <div class="form-group">
                        <label for="crname">Course Name</label>
                        <input type="text" class="form-control" id="crname" placeholder="Course name" name="courseName" [(ngModel)] = "addcourse_ob.courseName">
                      </div>

                         
                            <div class="form-group">
                              <label for="img">Banner image</label>
                              <input type="file" class="form-control" id="img" placeholder="open" (change) = "get_file($event)">
                            </div>
                              <br>
                    <button type="submit" class="btn btn-success" (click) = "add_course()" >+ ADD</button>
                    
                    <button type="clear" class="btn btn-danger" style="margin-left:10px;"> Clear</button>
                  </form>
            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>