<div class="container" style="background-color: transparent; margin-left:20%;">
    <h3 style="text-align: center;">Web-dev quizes</h3>
    <br>
    
    <div class="row">
    <!-- <p>{{getobj}}</p> -->
    <div class=" col-md-3" data-toggle="modal" data-target=".html_quiz" *ngFor = 'let p of getobj' style="margin-top:1%;" (click) = "rules(p.coursename)" >
      <div class="rounded imgp" style="display:inline-block;height:210px;">
      <img src="http://localhost:3000/{{p._id}}.jpg" class="card-img-top" alt="...">
        <p class="card-text" style="text-align: center; font-size: 20px;">{{p.coursename}}</p>
      </div>
    </div> 

    </div>
</div>

<br><br>

<div class="container" style="background-color: transparent; margin-left:20%;">
  <h3 style="text-align: center;">Genral Quiz</h3>
  <br>
  
  <div class="row">
  <!-- <p>{{getobj}}</p> -->
  <div class=" col-md-3" data-toggle="modal" data-target=".html_quiz" *ngFor = 'let p of getobj' style="margin-top:1%;" (click) = "rules(p.coursename)" >
    <div class="rounded imgp" style="display:inline-block;height:210px;">
    <img src="http://localhost:3000/{{p._id}}.jpg" class="card-img-top" alt="...">
      <p class="card-text" style="text-align: center; font-size: 20px;">{{p.coursename}}</p>
    </div>
  </div> 

  </div>
</div>
     
    
    <!-- <div class="col-md-3" data-toggle="modal" data-target=".js_quiz" >
          <div class="rounded imgp">
          
          <img src="../../assets/Carrier Guide/coding.jpg" class="card-img-top" alt="...">
          &nbsp;
          
            <p class="card-text" style="text-align: center; font-size: 20px;">Javascript</p>
          </div>
        </div> -->
    
        
    
        <!-- <div class="col-md-3" data-toggle="modal" data-target=".database_quiz">
              <div class="rounded imgp">
              <img src="../../assets/Carrier Guide/coding.jpg" class="card-img-top" alt="...">
              &nbsp;
          
            <p class="card-text" style="text-align: center; font-size: 20px;">Database</p>
              </div>
            </div> -->
    
            
    
            <!-- <div class="col-md-3" data-toggle="modal" data-target=".ds_quiz">
                  <div class="rounded imgp">
                  <img src="../../assets/Carrier Guide/coding.jpg" class="card-img-top" alt="...">
                  &nbsp;
          
                  <p class="card-text" style="text-align: center; font-size: 20px;">Data-structures</p>
                  </div>
                </div>
    
    
              </div> -->
    
             




<!-- 
              <br>
              <br>
              
              
              <div class="container-fluid" style="background-color: transparent;">
              <h3 style="text-align: center;">General quizes</h3>
              <br>
              
              <div class="row">
              
              <div class=" col-md-4" data-toggle="modal" data-target=".lg_quiz" >
                <div class="rounded imgp">
                <img src="../../assets/Carrier Guide/coding.jpg" class="card-img-top" alt="...">
                &nbsp;
                    
                            <p class="card-text" style="text-align: center; font-size: 20px;">Logical Reasoning</p>
                </div>
              </div>
              
              
              <div class="col-md-4" data-toggle="modal" data-target=".an_quiz" >
                    <div class="rounded imgp">
                    
                    <img src="../../assets/Carrier Guide/coding.jpg" class="card-img-top" alt="...">
                    &nbsp;
                    
                    <p class="card-text" style="text-align: center; font-size: 20px;">Analytical Reasoning</p>
                    </div>
                  </div>
              
                  
              
                  <div class="col-md-4" data-toggle="modal" data-target=".quants_quiz">
                        <div class="rounded imgp">
                        <img src="../../assets/Carrier Guide/coding.jpg" class="card-img-top" alt="...">
                        &nbsp;
                    
                            <p class="card-text" style="text-align: center; font-size: 20px;">Quants</p>
                        </div>
                      </div>
              
              
                        </div>
              
                        </div>
              
              -->
      