
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4"></h1>
                  <p class="lead"></p>
                </div>
              </div>

    <div class="card text-center"> 
            <div class="card-header">
                <p>Ready to give test of</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">LEARN FIRST THEN GIVE TeST</h5>
              <p class="card-text"><ul>
                <li>Be honest: Test taker statements are to be true and accurate. Two ways
                     in which some individuals attempt to gain an unfair advantage are lying in 
                     order to obtain an accommodation, such as being granted extra time to take the test, 
                     and employing an imposter who takes the test in their behalf.</li>


                <li>
                        Be fair: The test-taking environment is to be the same, as much as it is possible, for all test takers.
                         An exception to this rule is made for those who require an accommodation, such as reading or answer-responding assistance. 
                         All test takers have access to a uniform set of test material.
                         Electronic devices with memories that allow for the smuggling of information useful in taking the test are specifically prohibited.
                </li>

                <li>
                        Behave appropriately: The testing event is to remain free from disruptions and distractions. 
                        This allows test takers the opportunity to perform their best in a fair and equitable manner.
                         Test takers who create distractions may be subject to discipline. Except for medical reasons, 
                         test takers may not bring food, liquids or other items into the test administration area.
                </li>
              </ul>
              <a class="btn btn-success" (click) = "startQuiz()">Start Quiz</a>
            </div>
            <div class="card-footer text-muted">
              time - 2hrs
            </div>
          </div>


          <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4"></h1>
                  <p class="lead"></p>
                </div>
              </div>