<div class="flex-container1">
  <div class="div-logo">
    <div class="div-head"><h2 class="logo">QUIZIO</h2></div>
  </div>
  <div class="div-content">
    <h1 class="top-heading">Don't Stress. Do Your Best. Forget The Rest.</h1>
    <button type="button" class="btn-knowmore"><a href="#content" class="a-knowmore">Let's Discover</a></button><br class="break">
    <!--<a href="#" class="downarrow"><i class="fa fa-angle-double-down" style="font-size:48px; color: white;"></i></a>-->
  </div>
  <div class="div-login">
    <button type="button" class="btn-login" (click) = "login_page()">Login</button>
    <button type="button" class="btn-signup" (click) = "signup_page()">Signup</button>
  </div>
</div>



<div class="flex-container2" id="content">
  <div class="fc2-text">
    <h2>A Simple and Easy Design</h2>
    <p>This platform for giving online quizes is designed in a very simple manner <br>This platform for giving online quizes is designed in a very simple manner
      <br>This platform for giving online quizes is designed in a very simple manner <br>This platform for giving online quizes is designed in a very simple manner</p>
    <br><button class="btn-fc2">Want to explore? <a href="login.html">Login</a></button>
  </div>
  <div class="fc2-image">
    <img src="../../assets/images/bg.jpg" height="300px" width="300px" />
  </div>
</div><hr>



<div class="flex-container3">
  <div class="fc3-image">
    <img src="../../assets/images/bg.jpg" height="300px" width="300px" />
  </div>
  <div class="fc3-text">
    <h2>A Simple and Easy Design</h2>
    <p>This platform for giving online quizes is designed in a very simple manner <br>This platform for giving online quizes is designed in a very simple manner
    <br>This platform for giving online quizes is designed in a very simple manner <br>This platform for giving online quizes is designed in a very simple manner</p>
    <button class="btn-fc3">Want to explore? <a href="login.html">Login</a></button>
  </div>
</div><hr>

<div class="flex-container4">
  <div class="fc4-text">
    <h2>A Simple and Easy Design</h2>
    <p>This platform for giving online quizes is designed in a very simple manner <br>This platform for giving online quizes is designed in a very simple manner					<br>This platform for giving online quizes is designed in a very simple manner <br>This platform for giving online quizes is designed in a very simple manner</p>
    <button class="btn-fc4">Want to explore? <a href="login.html">Login</a></button>
  </div>
  <div class="fc4-image">
    <img src="../../assets/images/bg.jpg" height="300px" width="300px" />
  </div>
</div><hr>

<a href="#top" id="top-link">Back To Top <i class="fa fa-arrow-up icon-top" style="font-size:20px"></i></a>