<!-- <button (click)="submitExam()" >Submit</button> -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">EXAM Has Ended !</h1>
      <br>
  
       <p class="lead">
  
          <p class="lead">
          Fingers Crossed &#x1f91e;
      </p>
      
      <br>
      <br>
      <p class="lead">
          ”Success is the sum of small efforts, repeated day in and day out.” ~ Robert Collier
      </p>
  
    </div>
  </div>
 
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-4"></div>

  
      <div class="col-md-4 col-sm-4">		
      <div>
    <a class="btn btn-success btn-lg btn-block" (click)="submitExam()"  role="button">View RESULT</a>
    <br>
  </div>
  
  <div class="col-md-4 col-sm-4"></div>
  
  <div class="col-md-4 col-sm-4"></div>
  </div>
  </div>
<div class="container">
  <router-outlet></router-outlet>
</div>

 